body {
    background: #d2d2c1 url(fundo.png);
    font: 24px Arial, Helvetica, Sans-serif; 
}

#principal{
    width: 900px;
    margin: auto;
}

#menu {
    background: #c5c5c5;
    padding: 15px;
}

#conteudo {
    background: #e8e8e8;
    padding: 10px;
}

#rodape {
    text-align: center;
}

a{
    color: #4b566a;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
}

#informacao{
    color: blue;
}

h1{
    text-align: center;
}

.i1 {
    margin-left: 120px;
}

#informacao{
    text-align: center;
}

span{
    color: blueviolet;
}

.img{
    transition: .4s ease-in-out;
}
.img:hover{
    transform: translateY(10px) scale(1.2);
}

.algo{
    transition: ;
}